input{
    width: 200px;
}

.Results ul {
    font-family: "Nunito", monospace;
    font-size: medium;
    display: flex;
    color: #004d40;
    gap: 10px;
}

.Results li {
    list-style: none;
    margin-bottom: 10px;
    border-style: solid;
}

/* .Events{
    font-family: "Nunito", monospace;
    font-size: medium;
    display: flex;
    color: #004d40;
    display: flex;
    justify-content: center;
} */

.Results{
    display: flex;
    justify-content: center;
}



